base_line
baseline_train
weights
Data/GDSC_data
Data/cell_latext.txt
Drug_response/
Draw_Figures/
Figures/
weights_norm_multi_omics
weights_multi_omics
weights_atten_multi_omics
weights_atten_norm_multi_omics
figures_in_paper
results
results*/
results_atten_multi_omics
results_cnv
results_graph_drp_atten_norm
results_norm
results_multi_omics
results_multi_view
results_norm_multi_omics
results_atten_norm_multi_omics
results_atten_multi_omics
sh*/
TB_5_fold/
TB_5_fold_deepcdr/
TB_5_fold_GraphDRP/
TB_NERD/
TB_TGSA
TB*/
test_results
Figures
weights*/
data
MOMA
drug_classfication.py
# *.py
*.eps
*.ipynb
*.pth
*.svg
*.pdf
*.pth
*.png

train_multi_omics_drp.py 
train_multi_omics_atten.py 
train_full_model.py 
train_multi_view.py 
train_attention_model.py 
plot_style.txt 
image_3d.png 
git_update.sh 
cell_vae.py 
IC50_binarization.py

Data/cell_latex.txt
train_model/train_test_multi_omics_atten.py 
train_model/train_test_multi_view.py 
train_model/train_test_vae.py  
train_model/train_test_single_omics_atten.py


.history 
.vscode
__pycache__

# git rm --cached train_full_model.py train_multi_view.py  image_3d.png git_update.sh cell_vae.py IC50_binarization.py